{% extends "base.html" %}
{% block content %}
<script>

    function check_pay_status_await(Max_ncount)
    {
        // if(sessionStorage.getItem('Pay_success')) return;
        const options = {
            //timeZone: "Europe/Kyiv",
            timeZone: "Europe/London",
            hour12: false,
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
            };
        let order_id = '';
        let is_find=0;
        if ("{{order_id}}") {
            order_id = "{{order_id}}";
        }
        if (order_id.length === 0) {
            order_id = sessionStorage.getItem('order_id');
        }
        if (!order_id) {
            document.getElementById('PayResult').innerHTML = "Помилка: ";
        } else 
        {
            document.getElementById('orderIdDisplay').innerHTML=order_id
            let ncount=0;
            let interval = setInterval(async () => 
            {
                ncount++;
                if (ncount> Max_ncount )
                {
                    clearInterval(interval);
                    // let MaxMin=3*Max_ncount/60;
                    // MaxMin=MaxMin.toFixed(1);
                    // document.getElementById('PayResult').innerHTML = "<p> Результат платежу не отриман за " + MaxMin+' хв.';
                    // wws= `<!-- <form id="payForm" method="POST" action={{url_for('send_message')}}>
                    //     <input type="hidden" id="contract" name="contract" value="${data.contract}" />
                    //     <input type="hidden" id="payment_date" name="payment_date" value="${data.payment_date}" />
                    //     <input type="hidden" id="order_id" name="order_id" value="{{order_id}}" />
                    //     <input type="hidden" id="amount" name="amount" value="${data.amount}" />
                    //     <button> id="send_msg" name="send_msg" > Відправити повідомлення про помилку </button>
                    //     </form>  -->
                    //     `;
                } else
                {
                    const response = await fetch(`/check_payments_status?order_id=${order_id}&ncount=${ncount}`);
                    //debugger
                    const data = await response.json();
                    if (data.status === 'success:sns') {
                        sessionStorage.setItem('Pay_success','1');
                        clearInterval(interval);
                        // const utc_time=new Date(data.payment_date + 'Z'); // Додаємо 'Z' для вказівки UTC
                        const utc_time=new Date(data.payment_date); // 
                        //utc_time=data.payment_date;
                        console.log("UTC Time:", utc_time);
                        const kyivTime = new Intl.DateTimeFormat("uk-UA", options).format(utc_time);
                        console.log("After_pay.html Success:sns");
                    document.getElementById('PayResult').innerHTML = `                        
        <div id="ResultPay" style="height:240px; display:flex; justify-content: center; ">
            <form id="RepeatForm" method="POST" action="{{ url_for('repeat_pay') }}">
                <div style="font-size: smaller; border-style: solid; border-width: 1px; margin:auto;
                    width: 360px;  background-color: lightblue; min-height: 200px;" class="container-div">
                    <table  style="min-height: 180px;" class="centered-table">
                    <tr style="max-height: 200px;">
                        <td width="50%"><div class="td_div_left">Дата платежу:</div>
                        </td>
                        <td>
                            <div <div class="td_div_right"> ${kyivTime} </div>
                        </td>
                    </tr>  
                    <tr>
                    <td width="50%"> <div class="td_div_left"> Договір №:</div>
                    </td>
                    <td>
                        <div <div class="td_div_right"> ${data.contract}</div>
                    </td>
                </tr>  
                 <tr style="max-height: 200px;">
                    <td>
                        <div class="td_div_left"> Зарахована сумма </div>
                    </td>
                    <td>
                        <div class="td_div_right"> ${data.amount} грн.</div>
                    </td>
                </tr>  
                <tr style="max-height: 200px;">
                    <td>
                      <div class="td_div_left">Залишок на О/Р</div>
                    </td>
                    <td>
                        <div class="td_div_right">${parseInt(data.new_account1)/100} грн.</div>
                    </td>
                </tr>  
                
                <tr style="min-height: 40px;">
                    <td colspan="2">
                        <div style="display: flex; justify-content: space-around;  align-items: center; min-height: 50px;  ">
                            <button class="btn" id="repeat_pay" name="repeat_pay"  > Повернутись до cплати</button>
                        </div>
                    </td>
                </tr>
            </table>    
       </div> 
    </form>   
</div>  
                    
                ` ;                  
                        
                    } else if (data.status === 'success:bank') {
                        //clearInterval(interval); // опрос продолжается
                       
                        document.getElementById('PayResult').innerHTML = `
                        <h3>Платіж проведено банком </h3>
                        <p>Договір: ${data.contract}</p>
                        <p>Сума: ${data.amount}</p>
                        <p>Дата: ${data.payment_date}</p>
                        <p>Чекаемо на поповнення особистого рахунку..</p>
                        `; 

                    }
                }
            }, 1000); // Проверка каждые 3 секунды
        }
    }
window.addEventListener("pageshow", function(event) {
    console.log("Страница AFTER_PAY.HTML выведена на вкладку, но не видна", event.persisted ? "(из кэша)" : "");
    check_pay_status_await(50);
});
document.addEventListener("visibilitychange", function () {
    if (document.visibilityState === "visible") {
        //Должно быть только одно событие !!
        console.log("Пользователь открыл или вернулся на вкладку  AFTER_PAY.HTML!");

        // Здесь можно вызвать проверку платежа
        //check_pay_status_await(50)
    }
});

</script>

<!-- <div class="container content-block"> -->
<div style="text-align: center;">
  <h2>Поповнення особистого рахунку</h2>
  <!-- <p>Чекаємо на результат <span id="orderIdDisplay"></span></p> -->
</div>

<div  id="PayResult" class="container-div" style="min-height: 250px; padding: 0px;">
    {% if is_find is not defined %}
    <span style="font-size: 1.0em; color: #333;">
        Чекаємо на результат проведення платежу <span id="orderIdDisplay">
    </span>
    {% endif %}
</div>
{% endblock %}
