{% extends "base.html" %}

{% block content %}
<div class="container content-block result error" style="text-align: center;">
   <!-- err_mess={{err_message}} -->
  <h2>Помилка</h2>
  <div id="err_message">{{err_message | safe}}</div>
 Щось пішло не так. Спробуйте трохи пізніше. </p>
   <a class="btn" href="{{ url_for('form') }}">Повернутись</a>
</div>
<script >
  //debugger
  const err_msg = "{{err_message}}";
// document.getElementById('err_message').innerHTML = err_msg;
</script>
{% endblock %}

