<!DOCTYPE html>
<html>
    <meta name="description" content="ФОП Місяйло Д.П. платіж">
    <meta name="keywords" content="Оплата за обслуговування в телекоммунікаційних мережах.">
<head>
    <title>Онлайн платіж за обслуговування в телекоммунікаційних мережах ФОП Місяйло Д.П.</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='template.css')}} ">
<style>
body {
    background-image: url("{{ url_for('static', filename='5559852.jpg') }}");
    background-size: cover;
}
</style>
</head>
<body>
    <style>
        .left_25 { padding-left: 25px; }
        .right_25 { padding-left: 25px; }
        .up_25 { padding-top: 25px; }
        .down_25 { padding-bottom: 25px; }
    </style>
<div id="TopIndex" style="height:460px;float:left;">
    <table>
        <tr>
            <td align="center">
                <p style="margin:15px"  align="justify">
                   <p style: align="center"> <b>ФОП Місяйло </b> </br></p>
пропонує Вам сплатити абонентську плату за доступ до мережі Інтернет</br> яка вказана у 
<a href="{{url_for('oferta')}}"  target="_blank"> Договорі Оферти</a> згiдно
<a href="{{url_for('price')}}"  target="_blank">  Прейскуранта </a>
<br>Ознайомтесь з <a href="{{url_for('refund')}}" target="_blank">  Правилами повернення платежiв </a>
                </p>
            </td>
        </tr>
    </table>
</div>
<!--                    -->
<div  id="FormIndex" style="height:460px;float:left;">
    <table>
        <tr>
            <td valign="bottom" align="center">
                <div style="margin: 15px; font-size: smaller; border-style: solid; border-width: 1px; padding: 10px;
                width: 450px;  background-color: lightblue;">
                    <form action="/" method="POST"> <!--форма данных до проверки номера договора -->
                    <table width="250px">
                        <tr style="max-height: fit-content;">
                            <td width="50%">
                                <div class="head1" style="text-align: right;">Договір №</div>
                            </td>
                            <td>
                                <div class="head11" style="text-align: left;">{{contract}}</div>
                            </td>
                        </tr>    
                        <tr style="max-height: fit-content;">
                            <td colspan="2">
                                <div class="head11" style="text-align:center;"> Не знайдено</div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" id="pay_action" value="confirm_pay" style="margin-left: 10px; border-style: solid; border-width: 1px;
                    border-radius: 5px; background-color: skyblue;">Повернутись</button>
                            
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
<div  id="BottomIndex" style="height:460px;float:left;">
    <table>

        <tr>
            <td align="center">
                <div style="margin:15px;">
                    <p><b>Контактні відділу обслуговування кліентів : +380952182318 </b></p>
                    <p>EMail: <b>p160871vn@gmail.com  </b></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin:15px;" align="justify"> Для сплати 
    послуги Вам потрібно ввести номер Договору та сумму платежу і після 
    натиснути кнопку "Сплатити", після чого Ви будете переадресовані на 
    захищену сторінку процесингового центру Приватбанку. Там потрібно вибрати
    метод оплати та виконати всі необхідні дії для проведення платежу <b>Після внесеня цих даних, платіж треба підтвердити.</b>
                        Після успішного проходження платежу ви можете 
    роздрукувати платіжнний документ 
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin:15px;" align="justify">Якщо у вас 
    виникла необхідність возврату грошей через помилку внесення данних, або 
    преказана сума не з'явилась на вашому особистому рахунку, Ви можете 
    звернутись з цим питанням  по телефону: <b>+380952182318 </b>, або написати на адрес pay4dipt@gmail.com.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin:15px; text-align: center; margin-top:20px; text-decoration:underline">
                    Юридична адреса:84000, Донецька обл., Олександрiвський р-н, 
                    с. Петрiвка Перша, вул.Степна, буд. 51
                    </p> 
            </td>
        </tr>
        <tr>
            <td>
                    <p style="margin:15px; text-align: center;"> 
        <a href="{{url_for('security_politics')}}"  target="_blank"> 
    Наша політика конфіденційності</a></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
