{% extends "base.html" %}

{% block content %}
<!-- <div class="container content-block"> -->
<div style="text-align: center;">
  <h2>Договір Оферти</h2>
  <p>Будь ласка, уважно прочитайте наш Договір</p>
</div>
<div class="container-scroll">
  <div>
Фізична Особа Підприємець Місяйло Деніс Петрович (Підприємство, Провайдер), юридичний адрес Донецька обл, Олександрівський р-н, с. Петрівка перша,
вул Степна, буд.51,  що діє на підставі Статуту,
 внесеного до реєстру реєстру постачальників електронних комунікацій, запис №5178 від 14.07.2025 
та Абонент (особа, реквізити якої наведені у наряді на підключення) з іншого боку, уклали цей Договір 
про нижче наведене:
</div>
<div>
    <p>1. Визначення і терміни </p>
«Публічна оферта» – пропозиція Провайдера, адресована будь-якій фізичній особі у відповідності зі ст. 641 ЦК України, укласти з ним договір про надання телекомунікаційних послуг, що містяться в публічній оферті.
«Договір» – правочин про надання та отримання телекомунікаційних послуг, укладений між провайдером і Абонентом
на умовах Приєднання (ст. 634 ЦК України) в момент акцепту Абонентом умов (далі – Договір). 
Його копія постійно знаходиться на WWW сервері провайдера pay.sns.net.ua. Сторони згодні, що будь-які 
письмові версії Договору та Прейскуранту є актуальними тільки до подальшої зміни їх умов.
«Абонент» – споживач телекомунікаційних послуг, який отримує телекомунікаційні послуги на умовах Договору,
 який передбачає підключення кінцевого обладнання, що перебуває в його власності або користуванні, до
  телекомунікаційної мережі.</br>
«Акцепт» – повна і безумовна згода Абонента на укладення Договору на умовах,визначених публічною офертою. </br>
«Абонентна плата» – платіж, який встановлює Провайдер для Абонентів за отримання телекомунікаційних послуг;</br>
«Кінцеве обладнання» – обладнання, призначене для з’єднання з пунктом закінчення телекомунікаційної мережі 
з метою забезпечення доступу до телекомунікаційних послуг (комп’ютер, модем, телеприймач, тощо);</br>
«Підключення (відключення)» – з’єднання (від’єднання) кінцевого обладнання або абонентського вводу до
 (від) телекомунікаційної мережі;</br>
«Пункт закінчення телекомунікаційної мережі» – місце стику (з’єднання) телекомунікаційної мережі та кінцевого 
обладнання;</br>
«Телекомунікаційна мережа (мережа)» – комплекс технічних засобів телекомунікацій та споруд, призначених для 
маршрутизації, комутації, передавання та/або приймання знаків, сигналів, письмового тексту, зображень та звуків 
або повідомлень будь-якого роду по радіо, проводових, оптичних чи інших електромагнітних системах між кінцевим 
обладнанням;</br>
«Телекомунікаційна послуга (послуга)» – продукт діяльності Провайдера, спрямований на задоволення потреб 
споживачів у сфері телекомунікацій;</br>
«Послуги доступу» — послуги для здійснення персонального ТСР/ІР доступу в мережу з можливістю доступу в Інтернет
 на основі розподіленої мережі передачі даних Провайдера.</br>
«Інтернет» — всесвітня інформаційна система загального доступу, яка логічно зв’язана глобальним адресним 
простором та базується на Інтернет-протоколі, визначеному міжнародними стандартами. Ця інформаційна система
 є сукупністю об’єднань приватних і громадських комп’ютерних мереж, які взаємодіють через шлюзи і комутаційні 
 вузли. </br>
«Перерва послуг» — означає перебій або переривання в послугах тривалістю як мінімум три години, що виникають 
унаслідок відмови або фізичного пошкодження устаткування і/або програмного забезпечення, що використовується і 
знаходиться під прямим управлінням і контролем Провайдера.</br>
«Пакет» — набір телекомунікаційних Послуг, що надаються Провайдером, і оплачуються Абонентом на час дії Пакету.</br>
«Час дії Пакету» — 1 (один) місяць, що обчислюється з першого по останнє число календарного місяця, на який
 розповсюджується дія цього Пакету </br>
«Сторінка статистики» — спеціальна інформаційна сторінка, особиста для кожного Абонента, що підключений та користується телекомунікаційними послугами, яка містить статистичну і особисту інформацію Абонента.
</div>
<div>
    <p>2. Предмет договору</p>
2.1. Предметом цього Договору є надання Підприємством Абоненту  телекомунікаційних послуг (надалі – Послуги) 
відповідно до умов цього Договору та Прейскуранту винятково за адресою підключення.</br>
2.2. Абонент користується послугами Підприємства і оплачує їх на умовах Прейскуранту.</br>
</div>
<div>
    <p>3. Права та обов’язки сторін</p>

3.1. Підприємство зобов’язується:
3.1.1. Надавати Абонентові Послуги вказані в пункті 2.1. Договору відповідно до умов цього Договору та 
Прейскуранту, а також у відповідності до показників якості, затверджених наказом Адміністрації Державної
 служби спеціального зв’язку та захисту інформації України від 28.12.2012р. № 803. 
 Мінімальна швидкість інтернет-з’єднання повинна становити не менш, ніж 1 Мбіт/с. </br>
3.1.2. Надати Абонентові додаткові послуги у разі їх замовлення. Сторони домовилися, що  обов’язок з надання 
додаткових послуг замість Підприємства може бути виконаний третьою особою, що має право надавати такі послуги,
 відповідно до законодавства України. У такому випадку Підприємство несе відповідальність перед абонентом 
 за своєчасність та якість наданих третьою особою додаткових послуг.</br>
3.1.3. Проводити перерахунок абонентської плати у випадку, якщо основна послуга не надавалась Абоненту не з 
вини останнього більше 10 днів.</br>
3.1.4. Забезпечити консультаційно – інформаційну і технічну підтримку Абонента з питань надання послуг
 по електронній пошті, за телефонами Підприємства, а також через мережу пунктів роботи з абонентами.</br>
3.1.5. Забезпечити належну якість послуг, вжити заходів до усунення причини зниження їх якості.</br>
3.1.6. Публікувати всі доповнення і зміни в Прейскурантах не менше ніж за 7 календарних днів до початку їх дії 
на сайті Провайдера pay.sns.net.ua та відповідному періодичному виданні.</br>
3.1.7. У разі подання Абонентом заявки Провайдеру, щодо пошкодження телекомунікаційної мережі, яке 
унеможливило доступ  Абонента  до послуги  або  знизило  до  неприпустимих значень показники якості і протягом 
однієї доби Провайдером не буде усунено пошкодження абонентна плата за весь період пошкодження не нараховується,
 а Провайдер телекомунікацій у разі не усунення пошкодження протягом п’яти діб із зафіксованого моменту подання
   абонентом  відповідної  заявки  сплачує Абоненту штраф у розмірі 25  відсотків  добової  абонентної  плати
     за  кожну  добу перевищення цього терміну, але не більше ніж за три місяці.</br>
3.1.8. У разі подання Абонентом заявки Провайдеру, щодо пошкодження телекомунікаційної мережі в межах адреси
 надання послуг, пошкодження усувається Провайдером  протягом п’яти діб, за рахунок Абонента.</br>
3.1.9. Розглядати скарги та заяви  Абонента  у терміни, передбачені  Законом України «Про звернення 
громадян» та інформувати його про результати розгляду.</br>
3.2. Підприємство має право:</br>
3.2.1. Змінювати розмір абонентської плати за основну послугу у випадку збільшення її собівартості, зміни
 законодавства України про оподаткування та/або зміни цінової кон’юнктури ринку подібних послуг.</br>
3.2.2. В односторонньому порядку переглянути (змінити) цей договір з повідомленням Абонента через публікацію
 таких змін на сайті Провайдера pay.sns.net.ua, та/або через електронну пошту не менше чим за 7 (сім) 
 календарних днів до набуття чинності змін (доповнень) в Прейскуранті.</br>
3.2.3. Припинити/призупинити надання Абонентові послуг при недотриманні ним умов Договору. Припинення надання
 основної послуги може відбуватися шляхом відключення ділянки мережі, що веде до кінцевого обладнання Абонента,
  від точки приєднання до телекомунікаційної мережі. У такому випадку повторне підключення Абонента 
  до телекомунікаційної мережі здійснюється після подання Абонентом до Підприємства письмової заяви,
   повного погашення заборгованості та оплати авансу за повторне підключення згідно з діючими тарифами.</br>
3.2.4. Самостійно змінювати кількість та порядок формування тарифних планів на Інтернет.</br>
3.2.5. Не підключати та/або відключати підключеного до телекомунікаційної мережі кінцевого обладнання Абонента
 у разі відсутності документів про підтвердження його відповідальності вимогам, нормативним документам у сфері
  телекомунікацій, а також в інших випадках, визначених законодавством.</br>
3.3. Абонент зобов’язується:</br>
3.3.1. При підписанні договору ознайомитися з Прейскурантом. Своїм підписом на Договорі Абонент засвідчує,
 що йому зрозумілі і він згоден дотримуватися і виконувати всі умови, викладені в Прейскурантах протягом
  всього терміну дії Договору.</br>
3.3.2. Перевіряти інформацію, що стосується умов Договору, в абонентських відділах та/або на сайті Провайдера
 pay.sns.net.ua, не  рідше одного разу на 5 (п’ять) календарних днів. У разі порушення даного обов’язку Абонент
  самостійно несе ризик несприятливих для нього змін умов Прейскуранту.</br>
3.3.3. Своєчасно проводити оплату послуг Підприємства відповідно до діючого прейскуранта.</br>
3.3.4. Погодити з власниками приміщень, що знаходяться у будівлі за адресою підключення надання
 телекомунікаційних послуг за цим Договором.</br>
3.3.5. Не допускати використання кінцевого обладнання  для вчинення протиправних дій або дій, що суперечать 
інтересам національної безпеки, оборони та охорони правопорядку.</br></br>
3.3.6. Не допускати використання кінцевого обладнання  третіми особами.</br>
3.4. Абонент має право:
3.4.1. На своєчасне якісне одержування послуг Провайдера на умовах Договору.</br>
3.4.2. Достроково розірвати Договір за своєю ініціативою звернувшись до підприємства з письмовою заявою.
 У такому випадку Договір вважається розірваним через 30 днів після отримання підприємством заяви Абонента.</br>
3.4.3. Змінити тарифний план на Інтернет. Зміна тарифного плану на Інтернет здійснюється підприємством у 
наступному, після подання заяви, місяці.</br>
3.4.4. Звертатися до Підприємства із заявою про призупинення надання основної послуги на строк до 2-х місяців, 
із зазначенням терміну, на який зупиняється надання послуг. Заява подається Абонентом за сім робочих днів
 до дати призупинення надання основної послуги, вказаної в заяві Абонента.</br>v
 <p>4. Вартість і порядок розрахунків</p>

4.1. Вартість послуг по договору визначається у Прейскуранті. Оплата послуг Підприємства здійснюється 
абонентом за цінами вказаними в Прейскуранті, що діє на момент оплати послуг.</br>
4.2. Оплата за надані послуги здійснюється Абонентом в гривнях, шляхом внесення їх на поточний рахунок
 Провайдера, із зазначенням ППК Абонента.</br>
4.3. Телекомунікаційні послуги надаються на умовах передплати.</br>
4.4. При підписанні Договору Абонентом вноситься плата за підключення і за вибраний Пакет.
 Моментом оплати вважається надходження коштів на поточний рахунок Провайдера. Моментом початку надання Послуг
  вважається фіксація обліковою системою Провайдера (http://pay.sns.net.ua) першої авторизації, здійсненою з 
  використанням логіну та паролю Абонента. При розірванні Договору за ініціативою Абонента внесена плата 
  за сплачений, але невикористаний Пакет повертається, а плата за підключення не повертається.</br>
4.5. Абонент самостійно несе відповідальність за правильність і своєчасність оплати послуг. Якщо Провайдер 
не призупинив дію Договору, а Абонент продовжує користуватись Послугами після вичерпання грошей на своєму
 рахунку, Послуги вважаються наданими і Абонент зобов’язаний їх оплатити згідно умов Договору та додатків
  до нього.</br>
4.6. У разі повного вичерпання грошей на рахунку Абонента надання Послуг Провайдером припиняється
 і може бути відновлене тільки після поповнення рахунку Абонентом. Якщо протягом 14 (чотирнадцяти) 
 календарних днів з моменту вичерпання грошей на рахунку Абонент не поповнив свій рахунок, дія Договору
  призупиняється. Якщо протягом подальших 30 (тридцяти) календарних днів Абонент не поповнив свій рахунок,
   Договір вважається розірваним і подальше надання Послуг можливе тільки при повторному укладенні договору 
   в установленому порядку.</br>
4.7. Якщо на момент закінчення Часу дії Пакету у Абонента залишився невитрачений трафік, то цей залишок
 не переноситься на черговий Час дії Пакету.
4.8. Протягом всього терміну дії Договору телекомунікаційні послуги, надані Провайдером, вважаються 
наданими належним чином за відсутності письмових заперечень (претензій) з боку Абонента протягом 5 (п’яти)
 календарних днів з моменту закінчення кожного Часу дії Пакету.</br>
4.9. Претензії з боку Абонента приймаються протягом 5 (п’яти) календарних днів з моменту виникнення спірної 
ситуації. Після закінчення зазначеного терміну претензії не приймаються. У разі неможливості рішення спірного
 питання сторонами шляхом переговорів, дане питання вирішується у встановленому законодавством України порядку.</br>
4.10. Припинення дії Договору не звільняє Сторони від обов’язків закінчити розрахунки за Договором.</br>
4.11. Надання додаткових послуг здійснюється за окремою заявою Абонента за умови здійснення попередньої 
оплати Провайдеру, відповідно до тарифів, що діють на час звернення Абонента.</br></br>
<p>5. Інші умови</p>
5.1. На додаткові види послуг, не перераховані в Прейскуранті, але що входять в предмет Договору, 
а також за особливих умов виконання Договору, підписуються додаткові угоди, які є невід’ємною частиною 
укладеного Договору. Час дії і умови виконання додаткових видів послуг і  особливих умов виконання Договору 
визначаються в додаткові угоді.</br>
5.2. Якщо абонент не згоден із змінами до Договору, він зобов’язаний повідомити Провайдера у письмовій формі
 протягом 3 (трьох) календарних днів з моменту публікації нових умов. Відсутність письмового повідомлення
  Абонента до вступу змін до Договору, є згодою Абонента з новими умовами Прейскуранту.</br>
5.3. Абонент і провайдер зобов’язуються забезпечити конфіденційність облікової інформації Абонента, і 
пов’язаний з цим збиток третім особам Провайдер відповідальності не несе.</br></br>
<p>6. Відповідальність сторін</p>

6.1.  Сторони врегулювали відносини між собою за власним розсудом відповідно до Цивільного Кодексу 
України, законом України "Про електронні комунікації" від 16.12.2020 р» і іншими нормативними документами
 у сфері телекомунікацій.</br>
6.2.  Абонент, використовуючи Послуги, самостійно несе майнову або іншу відповідальність за шкоду, 
заподіяну його діяннями (особисто або іншою особою під його мережевими реквізитами) особі або майну
громадян, юридичних осіб, держави або етичним принципам суспільства.</br>
6.3.  Провайдер не несе відповідальності перед Абонентом за затримки і перебої в роботі, що відбуваються 
прямо або побічно з причини, яка знаходиться поза сферою контролю з боку Провайдера.</br>
6.4.  Відповідальність і ризики за використання інформаційних ресурсів Інтернет несе Абонент. 
Провайдер не дає ніяких гарантій відносно будь-яких товарів, інформації і послуг, які поставляються 
або надаються з допомогою Інтернет, не несе відповідальності за будь-які втрати або збитки, які прямо або 
побічно отримали Абоненти або треті особи унаслідок використання інформаційних ресурсів Інтернет 
або неможливості їх використання.</br>
6.5.  Абонент несе відповідальність за збереження своїх облікових даних та паролів, а також за збитки, 
які можуть виникнути унаслідок несанкціонованого їх використання.</br>
6.6.  За порушення термінів надання Послуг, при виконанні Абонентом своїх зобов’язань, Провайдер сплачує
 пеню у розмірі діючої облікової ставки НБУ від вартості не отриманої Послуги, за кожен день порушення.
  Період, впродовж якого Абонентові не надавалася або неналежним чином надавалися Послуги доступу,
   визначається з моменту письмового звернення Абонента (реєстрації рекламації Провайдером) до моменту
    відновлення надання Послуг, але не більше 180 календарних днів.</br>
6.7.  У випадку, просрочки оплати наданих Послуг, передбачених умовами Договору та доповненнями до нього,
 більш ніж на 20 (двадцять) днів, з моменту виникнення заборгованості, згідно даних облікової системи,
  Абонент зобов’язаний сплатити пеню у розмірі подвійної облікової ставки НБУ, що діяла на момент просрочки, 
  за кожен день просрочки від суми просрочки.</br>
6.8.  Провайдер не несе відповідальності за збій програмного забезпечення і устаткування Абонента, 
якщо останні не знаходяться під прямим управлінням Провайдера.</br>
6.9.  Провайдер не надає послуг з настройки програмного забезпечення та устаткування Абонента.</br>
6.10. Провайдер не несе відповідальності за псування устаткування Абонента через дію обставин
 непереборної сили (наприклад, дії третіх осіб, погодні умови, але не обмежуючись ними).</br>
6.11. Провайдер не забороняє доступ до будь-яких ресурсів Інтернет, мережам, серверам, сховищам даних,
 проте, Абонентом визнається, що інші оператори Інтернет час від часу можуть фільтрувати інформаційні 
 потоки або забороняти доступ до тих або інших ресурсів Інтернет, і Абонент погоджується, що Провайдер
  не буде відповідальним за подібні дії третіх осіб.</br></br>
  <p>7. Умови розірвання договору та повернення коштiв </p>
7.1. Провайдер має право припинити/призупинити надання послуг Абонентові при порушенні Абонентом умов Договору,
 а також порядку розрахунків.</br>
7.2.  Абонент має право на одностороннє розірвання Договору за відсутності його заборгованості перед Провайдером.</br>
7.3.  Дія Договору може бути припинена за ініціативою Провайдера, викладеною у письмовій формі і переданою 
Абонентові в розумно можливий термін, через будь-які причини, що не входять в поняття форс-мажорних обставин,
 за відсутності прямої провини Абонента в невиконанні умов Договору. В цьому випадку Абонентові 
 повертається невикористаний на момент розірвання Договору залишок грошових коштів. </br>
7.4.  Дія Договору може бути припинена за ініціативою Провайдера, викладеною у письмовій формі, на підставі 
неналежного виконання Абонентом умов Договору. В цьому випадку Абонентові повертається невикористаний 
на момент розірвання Договору залишок грошових коштів.</br>
7.5.  Припинення Абонентом оплати Послуг і непогашення заборгованості терміном більше 30 календарних днів 
без письмового повідомлення Провайдера про відстрочення виконання їм зобов’язань за Договором є односторонньою 
відмовою Абонента від виконання Договору. З цих причин Договір вважається розірваним.</br>
7.6.  У випадках розірвання Договору з причин, відмінних від перерахованих вище, питання перерахунків і 
виплат вирішуються за угодою Сторін або в установленому порядку через суд згідно діючому законодавству України.</br>
7.7. Провайдер має право припинити/призупинити надання послуг Абонентові  у разі  анулювання, недійсністю, 
закінченням терміну дії ліцензії на здійснення, щодо надання телекомунікаційних послуг.</br>
7.8. У випадках розірвання Договору з причин, відмінних від перерахованих, питання перерахунків і виплат 
вирішуються за угодою Сторін або у встановленому законодавством порядку.</br></br>
<p>8. Форс-мажор</p>
8.1. При виникненні форс-мажорних обставин (тобто обставин непереборної сили, діяльності третіх осіб, природних явищ, наприклад ураган, буря, нагромадження снігу, просідання і зсув ґрунту, ожеледь, землетрус, пожежа, спалахи блискавки, гроза але не обмежуючись ними), що виключають або перешкоджають виконанню Договору, Сторони не матимуть взаємних претензій, і  кожна із Сторін приймає на свій ризик наслідки цих обставин.
</br></br>
<p>9. Термін дії договору </p>

9.1. Договір вступає в силу з моменту його підписання і діє до кінця поточного календарного року. Якщо жодна сторона до 31 грудня поточного року не оповістила іншу про бажання розірвати або переглянути Договір, Договір вважається продовженим на наступний календарний рік.
<p>10. Персональні дані Абонента</p>

10.1. Приєднанням до цього Договору Абонент засвідчує надання ним згоди Оператору на обробку його 
персональних даних, наданих Оператору в будь-якій формі (письмовій або усній), з метою виконання 
зобов’язань сторін за цим Договором, зокрема, з метою надання, отримання та здійснення розрахунків за 
телекомунікаційні послуги, що надаються за цим Договором, рекламних цілях, тощо.</br>
10.2. Згода на обробку персональних даних Абонента, зазначена в п. 10.1 цього Договору, чинна протягом дії
 Договору та протягом п’яти наступних років після припинення його дії.</br>
10.3. Приєднуючись до цього Договору Абонент підтверджує, що він повідомлений 
(без додаткового письмового повідомлення) про права, встановлені Законом України «Про захист персональних даних»,
 мету збору даних та про те, що його персональні дані передаються Оператору з метою виконання зобов’язань 
 сторін за цим Договором, зокрема, з метою надання, отримання та здійснення розрахунків за телекомунікаційні
  послуги, що надаються за цим Договором.</br>
10.4. Приєднуючись до цього Договору Абонент надає згоду на те, що Оператор має право надавати доступ 
та передавати його персональні дані третім особам без будь-яких додаткових повідомлень, не змінюючи при 
цьому мети їх обробки, зазначеної в п. 10.1. цього Договору.</br>
10.5. Підписуючи цей Договір Абонент підтверджує, що йому відомий і зрозумілий зміст його прав 
як суб’єкта персональних даних відповідно до Закону України «Про захист персональних даних».</br>
10.6. Фактом підписання цього договору є заповнення Бланка-Заяви Абонента та
активація номера Особового рахунку</br>
</div>
{% endblock %}