{% extends "base.html" %}

{% block content %}
<!-- <div class="container content-block"> -->
<div style="text-align: center; font-weight: bold; margin-top: 20px; margin-bottom: 20px;">
  Тарифи на доступ в Інтернет 
  </br> для фізичних осіб,<span style="color: #fb5c96; text-decoration: underline;"> з 1.01.2026 р</span>
</div>
<div class="container-div">
  <div class="table-wrap" role="region" aria-label="Pricing table">
    <table class="price-table">
      <thead>
        <tr><th >Тариф</th><th>Швидкість</th><th>Ціна (грн)</th></tr>
      </thead>
      <tbody> 
        <tr>   <td>Соціальний</td><td>20 Мбіт/с</td><td> 100,0</td> </tr>
        <tr>
          <td>Швідкістний</td><td>75 Мбіт/с</td><td>250,0</td> </tr>
        <tr class="recommended">
          <td>Супер</td><td>100 Мбіт/с</td><td>300,0</td>
        </tr>
        <tr>
          <td>Преміум</td><td>300 Мбіт/с</td><td>400,0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
