{% extends "base.html" %}

{% block content %}
<!-- <div class="container content-block"> -->
<div style="text-align: center;">
  <h2>Тарифи на Доступ в Інтернет, грн. в місяць (з ПДВ) </br> для фізичних осіб, на 1.10.2025 р</h2>
</div>
<div class="container-div">
  <div class="table-wrap" role="region" aria-label="Pricing table">
    <table class="price-table">
      <thead>
        <tr><th >Тариф</th><th>Швидкість</th><th>Ціна</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Соціальний</td><td>20 Мбит/с</td><td> 100,0</td>
        </tr>
        <tr>
          <td>Базовий</td><td>50 Мбит/с</td><td>150,0</td>
        </tr>
        <tr>
          <td>Швідкістний</td><td>75 Мбит/с</td><td>200,0</td>
        </tr>
        <tr class="recommended">
          <td>Супер</td><td>100 Мбит/с</td><td>250,0</td>
        </tr>
        <tr>
          <td>Преміум</td><td>300 Мбит/с</td><td>350,0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
