{% extends "base.html" %}

{% block content %}
<!-- <div class="container content-block"> -->
<div style="text-align: center;">
  <h2>Наша політика безпеки</h2>
</div>
<div class="container-scroll">
<p >ЗАГАЛЬНІ ПОЛОЖЕННЯ</p>
<ul>
Використання Абонентом даного Сайту означає автоматичну і повну згоду 
Абонента з цією Політикою конфіденційності та умовами обробки 
персональних даних Абонента.<br>

У разі, якщо Абонент не згоден з умовами Політики конфіденційності, 
останній зобов’язаний припинити використання Сайту і негайно покинути 
його.<br>

Дійсна Політика конфіденційності застосовується до Сайту або до іншого, закритого веб-сайту на якому розміщена інформація.<br>

Сайт не контролює і не несе відповідальності за сайти третіх осіб, на 
які Абонент може перейти по посиланнях, доступних на Сайті.<br>

Компанія не перевіряє достовірність персональних даних, що надаються Абонентом Сайту.<br>

Компанія є контролером персональних даних Абонентів Сайту. Контролером 
персональних даних є особа, яка визначає, для чого (з якою метою) і яким
 чином збирати персональні дані.<br>

<p>ПРЕДМЕТ ПОЛІТИКИ КОНФІДЕЦІЙНОСТІ</p>

Дійсна Політика конфіденційності встановлює зобов’язання Компанії щодо 
нерозголошення та забезпечення режиму захисту конфіденційності 
персональних даних, які Абонент повинен за вимогою надати Компанії під 
час користування Сайтом.<br>

Персональні дані, дозволені до обробки в рамках цієї Політики 
конфіденційності, надаються Абонентом шляхом заповнення певних форм на 
Сайті і можуть включати в себе наступну інформацію:<br>
<ul>
<li>П.І.Б. Абонента;</li>
<li>Контактний номер телефону Абонента;</li>
<li>адреса електронної пошти (e-mail) Абонента;</li>
<li>інші конфіденційні дані про особу Абонента або контакти Абонента.</li>
</ul>
<br>
Крім вищевказаних даних Політики конфіденційності, Компанія залишає за 
собою право автоматичного збору в процесі перегляду Сайту або його 
окремих сторінок Абонентом, наступних даних:<br>
<ul>
IP-адреси електронно-обчислювального пристрою (комп’ютера, телефону, планшета і т.д.) Абонента;
<li>інформації про Сookies-даних, що зберігається в браузері Абонента
</li><li>інформації про електронно-обчислювальні пристрої (комп’ютері, телефоні, планшеті і т.д.) Абонента;</li>
<li>інформації про браузер Абонента, в т. ч. найменування, версію браузера і т.д.;</li>
<li>часу доступу на Сайт;</li>
<li>адреси сторінок Сайту, які переглядав Абонент;</li>
<li>адреси попередніх сторінок, з яких було отримано доступ до Сайту.</li>
</ul>
<br>
Відключення Абонентом функції збору Сookies може спричинити неможливість
 доступу до частин Сайту.

Сайт здійснює збір конфіденційних даних, передбачених цієї Політики 
конфіденційності, в т. ч. з метою виявлення та вирішення технічних 
проблем Сайту, для контролю навантаження на Сайті і для проведення 
статистичних підрахунків ефективності рекламних кампаній Сайту.<br>

Будь-яка інша персональна або конфіденційна інформація, не обумовлена 
вище, підлягає надійному зберіганню і нерозповсюдження, за винятком 
випадків, передбачених цією Політикою конфіденційності.<br>

<p >ЦІЛІ ЗБОРУ ПЕРСОНАЛЬНОЇ ІНФОРМАЦІЇ АБОНЕНТАА</p>

Персональні дані Абонента Компанія може використовувати в цілях:
<ul>
<li>для забезпечення належного підключення та надання інформації, що 
міститься в базах даних Сайту за допомогою реєстраційних даних, 
пов’язаних з особистим кабінетом Абонента(у разі необхідності його 
реєстрації/створення);</li>
<li>безпеки та запобігання шахрайству;</li>
<li>для підтвердження особи Абонента і проведення розрахунків (за необхідності);</li>
<li>щоб перевірити особу Абонента;</li>
<li>ефективного клієнтського обслуговування;</li>
<li>персоналізації використання Сайту;</li>
<li>відображення персоналізованої реклами;</li>
<li>надання спеціальних пропозицій та іншої інформації, яка, на думку Компанії, може бути цікава Абоненту;</li>
<li>надання Абоненту відомостей і повідомлень щодо використання Сайту;</li>
<li>надання Абоненту запрошень взяти участь в виставкових заходах, опитуваннях і з наданням в подальшому коментарів;</li>
<li>для звернення до Абонента поштою, телефоном (в тому числі SMS або 
іншими службами повідомлень) або електронною поштою, або шляхом показу 
відповідного повідомлення в межах Сайту, що використовується Абонентом, 
коли це необхідно у зв’язку з користуванням Сайту;</li>
<li>кращого розуміння потреб та інтересів Абонентів, які відвідують Сайт;</li>
<li>вдосконалення контенту, функціоналу і зручності Сайту;</li>
<li>вдосконалення товарів і послуг Компанії;</li>
<li>вдосконалення маркетингових і рекламних заходів Компанії;</li>
<li>підготовки та видачі персоніфікованих документів, які підтверджують 
отримання Абонентом тих чи інших послуг та/або робіт Компанії та/або її 
партнерів;</li>
<li>надання іншої інформації та послуг, запитуваних Абонентом;</li>
<li>будь-яких інших цілей, зазначених у чинній Політиці конфіденційності або інших угодах між Компанією та Абонентом.</li>
<li>Персональні дані Абонента можуть бути використані для інших цілей, 
не передбачених Політикою конфіденційності, що входять в сферу 
діяльності Сайту.</li>
</ul>
<p >ЗБЕРІГАННЯ ДАНИХ </p>


Компанія зберігає Персональні дані Абонента тільки до тих пір, поки вони
 потрібні їй, з метою, зазначеною в цій Політиці конфіденційності. У 
разі, якщо Компанія не потребуватиме певних даних про Абонента і їх не 
потрібно буде зберігати відповідно до вимог законодавства, вона видалить
 їх або буде зберігати таким чином, який унеможливить ідентифікацію 
Абонента.<br>

<p >СПОСОБИ, ПОРЯДОК І ТЕРМІНИ ОБРОБКИ ПЕРСОНАЛЬНОЇ ІНФОРМАЦІЇ</p>

Обробка персональних даних Абонента здійснюється без обмеження терміну, 
будь-яким законним способом, в тому числі в інформаційних системах 
персональних даних з використанням засобів автоматизації або без 
використання таких засобів.<br>

Абонент своїм перебуванням на Сайті автоматично погоджується з тим, що 
Компанія має право передавати персональні дані третім особам, виключно з
 метою виконання своїх зобов’язань перед Абонентом, в т.ч. передбачених 
цією Політикою конфіденційності.<br>

Персональні дані Абонента можуть бути передані уповноваженим державним і
 судовим органам тільки при наявності законних підстав і відповідної 
вимоги.<br>

При втраті або розголошенні персональних даних Компанія інформує 
Абонента про втрату або розголошення персональних даних будь-якими 
доступними їй методами.<br>

Компанія вживає необхідних організаційних і технічних заходів для 
захисту персональної інформації від неправомірного або випадкового 
доступу, знищення, перекручення, блокування, копіювання, поширення, а 
також від інших неправомірних дій третіх осіб.<br>

Компанія спільно з Абонентом вживає всіх необхідних заходів щодо 
запобігання збиткам або інших негативних наслідків, викликаних втратою 
або розголошенням персональних даних Абонента.<br>

<p >ЗОБОВ’ЯЗАННЯ КОМПАНІЇ ІЗ ЗАХИСТУ ПЕРСОНАЛЬНИХ ДАНИХ</p>

Компанія зобов’язується і гарантує наступне:
<ul>
<li>Використовувати будь-яку отриману інформацію виключно для цілей, зазначених у цій Політиці конфіденційності.</li>
<li>Забезпечити збереження таємниці і збереження Персональної інформації Абонента.</li>
<li>Не розголошувати без попередньої письмової згоди Абонента, а також 
не здійснювати продаж, обмін, публікацію або розголошення іншими 
можливими способами переданих персональних даних Абонента, за винятком 
випадків передбачених цією Політикою конфіденційності.</li>
<li>Вживати заходів обережності для захисту конфіденційності 
персональних даних Абонента згідно з порядком, який зазвичай 
використовується для захисту такого роду інформації в існуючому діловому
 обороті.</li>
<li>Здійснити блокування персональних даних, що відносяться до 
відповідного Абонента, з моменту звернення або запиту Абонента, або його
 законного представника, або уповноваженого органу щодо захисту прав 
суб’єктів персональних даних на період перевірки, в разі виявлення 
недостовірних персональних даних або неправомірних дій.</li>
</ul>
<p >ПОРЯДОК ВИРІШЕННЯ СПОРІВ</p>

Абонент і Компанія вирішує всі суперечки і розбіжності, що виникають з 
відносин, на які поширюється дана Політика конфіденційності шляхом 
переговорів.<br>

У разі недосягнення угоди, спір буде переданий на розгляд до судових 
органів за місцем знаходження відповідача відповідно до діючого 
процесуального законодавства.<br>

<p >ДОДАТКОВІ УМОВИ</p>

Компанія має право вносити зміни в дійсну Політику конфіденційності без згоди і повідомлення Абонента.<br>

Нова Політика конфіденційності вступає в силу з моменту її розміщення на
 Сайті, якщо інше не передбачено новою редакцією Політики 
конфіденційності.<br>

Дійсна Політика конфіденційності розміщена на веб-сторінці Сайту.<br>

Дійсна Політика конфіденційності відповідає вимогам законодавства 
України про захист персональних даних і містить докладні відомості про 
даних, які збираються, цілі, способи їх збору, обробки, використання і 
захисту.<br>

Примітка для Абонентів з Європейського Союзу: діюча Політика 
конфіденційності підготовлена на виконання обов’язків, передбачених 
Загальною регламентом щодо захисту даних (Регламент ЄС № 2016/679 від 
27.04.2016 року або GDPR — General Data Protection Regulation).<br>

Текст цієї Політики конфіденційності викладено українською мовою.<br>



</div></ul></div>
</div>
{% endblock %}